/* Sass Document */

$font-stack: 'Nunito', sans-serif
$white: #FCFFEE
$circle-width: 25vh
$red: #FF4F00
$grey: #757575

body 
	background-color: $white
	
.parallax 
	overflow-x: hidden
	overflow-y: auto
	background-image: url(../links/home.jpg)
	min-height: 80% 
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover


/* navbar */
.navbar-default 
	background-color: $red
	border: none
	border-radius: 0px
	color: $white
	font-family: $font-stack
	
	.navbar-header 
		color: $white
		font-family: $font-stack
		
	.navbar-nav
		.nav-li 
			color: $white
			font-family: $font-stack
	
	.navbar-brand 
		color: $white
		padding: 4px
		
		.img-logo 
			width: 45px
			padding-bottom: 7px
			padding-right: 5px

/* copy */
.headline 
	color: $white
	font-size: 6em
	padding: 8%
	font-family: $font-stack

.text-style 
	margin: 0 auto
	width: 85%
	color: $grey
	font-family: $font-stack

.copy-style 
	margin: 5% auto
	
	.icon-center
		width: 50px
		margin: 15px auto 
	
		.icon-lg
			width: 48px

	.headline-small 
		color: $red
		font-family: $font-stack
		font-size: 3em
		

	.cicles-style
		margin-right: auto
		margin-left: auto
		width: 55%
		
		.round 
			width: $circle-width
			height: $circle-width
			border: solid 2px $red
			border-radius: 50%
			margin: 15px
			padding-top: $circle-width / 2.5
			float: left
			color: $red
			font-family: $font-stack

	.headline-tiny 
		color: $grey
		font-family: $font-stack
		font-size: 20pt
		margin: 3%
		
	.social-icons 
		width: 170px
		margin: 5% auto 0 auto
			
		.icon-lg
			width: 48px
			float: left
			margin: 3px

hr 
	border-color: $grey

/* footer */
.footer-style 
	background-color: #424242
	color: $white
	font-family: $font-stack
	padding: 2vh

